/*	Page Structure	*/
html{ font-size: 62.5%; }
body{
	margin: 0;
	padding: 0;
	font: 1.4rem "Program OT Book", Arial, sans-serif;
	color: #888;
	background: #222222 url('../images/hikers1003.jpg') no-repeat fixed;
  	background-size: cover;
}
h1{
	font-family: Georgia, Times, serif;
	font-weight: bold;
}
h1, h2, h3{ text-transform: uppercase; }
h1, h2{
	font-size: 3rem;
	color: #EEE;
}
h3{
	font-family: Georgia, Times, serif;
	font-weight: bold;
	color: #CCC;
}
h3, h4{ font-size: 1.8rem; }
h4, h5{
	font-family: "Program OT Bold",  Arial, sans-serif;
	color: #AAA;
}

/*  Navigation  */
header{
  	margin: 0 auto;
  	margin-top: 3rem;
  	padding: 1rem;
  	max-width: 1200px;
  	
}
header::after{
	content: "";
	display: block;
	clear: both;
}
.logo{
	float: left;
	width: 10rem;
	height: 8rem;
	background: url("images/hikersGuide.png");
}
nav{
	float: right;
}
nav ul{
	margin: 0;
	margin-top: calc((8rem/2) - 2rem);
}
nav li{
	list-style-type: none;
	display: inline-block;
}
nav li:not(:last-of-type){
	border-right: solid 1px rgba(255,255,255,0.1);
}
nav a{
  	display: block;
  	padding: 1rem 2rem;
  	text-decoration: none;
  	text-transform: uppercase;
  	color: #eee;
  	opacity: .5;
}
nav a:hover{
	opacity: 1;
}
/*  cta image  */
#cta-location{
	position: relative;
	top: 5rem;
	max-width: 1200px;
	margin: 0 auto 45rem auto;
	padding: 10rem 10rem 2rem 5rem;
	transform: rotate(0deg);
}
#cta-location article{
	position: absolute;
	float: right;
	top: 10rem;
	right: 5rem;
	width: 40%; 	
	padding: 1rem;
	background: rgba(22,22,22,.8);
	border-right: solid .5rem #1ABC9C;
}
#cta-location::after{
	content: "";
	display: block;
	clear: both;
}
#current{
	visibility: visible;
}
#cta-location article:not(#current){
	visibility: hidden;
}
#selected{
	opacity: 1;
}
#cta-location h1{
	display: inline-block;
	margin: 1rem;
	padding: .5rem;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
}
#cta-location h4{
	margin-top: .5rem;
	margin-bottom: .5rem;
}
#cta-location h4, p{
	margin-left: 1rem;
}
#cta-location p{
	margin-top: 0;
}

/* Pagination */
#cta-location ul{
	position: absolute;
	top: calc(50% + 3rem);
	right: 2.5rem;
	margin: 0;
	padding: 0;
}
#cta-location li{
	list-style-type: none;
}
/* Left and Right Arrows */
#cta-location li:first-of-type,
#cta-location li:last-of-type{
	position: fixed;
	top: calc(50% - 2rem);
	opacity: .5;
}
#cta-location li:first-of-type:hover,
#cta-location li:last-of-type:hover{
	opacity: 1;
}
#cta-location li:first-of-type{
	left: 1rem;
	background-image: url("../images/left.png");
	background-repeat: no-repeat;
	background-position: left;
}
#cta-location li:last-of-type{
	right: 1rem;
	background-image: url("../images/right.png");
	background-repeat: no-repeat;
	background-position: left;
}
#cta-location li:first-of-type a,
#cta-location li:last-of-type a{
	background: transparent;
}
#cta-location a{
	display: block;
	width: 1rem;
	height: 1rem;
	margin: 0.5rem 0;
	border-radius: 50%;
	background: #ccc;
	text-indent: -9999px;
	opacity: .5;
}
/*#cta-location a:hover{
	opacity: 1;
}*/
#cta-location li:first-child a,
#cta-location li:last-child a{
	width: 4rem;
	height: 4rem;
}

/*  Blog Posts Container  */
#posts{
	position: relative;
	clear: both;
	padding-bottom: 2rem;
	padding: 2rem 10rem;
	background: #222;
	background-image: url("../images/climbers.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}
/* Latest Adventures */
#posts h2{
	position: relative;
	top: -17rem;
	width: 50%;
	padding: .5rem;
	margin: 0 auto 5rem auto;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
	text-align: center;
}
#posts h3{
	padding: .5rem 0;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
}
#posts h5{
	margin-bottom: 0.5rem;
	text-transform: lowercase;
}
#posts p:first-of-type{
	margin: 0;
	line-height: 2rem;
}
/* Blog posts articles */
#posts article{
	position: relative;
	float: left;
	top: -15rem;
	margin-bottom: 3rem;
	padding: 1rem;	
	width: calc(100% / 3 - (6rem / 3));
	box-sizing: border-box;
	background: #222;
}
/* Give each article that's not the 3rd a right margin */
#posts article:not(:nth-of-type(3n)){
	margin-right: 3rem;
}
#posts img{
	width: 100%;
}
#posts p:nth-of-type(2){
	margin-top: 3rem;
	margin-left: 0;
}
/* Read More link */
#posts p:nth-of-type(2) a{
	padding: 1rem;
	background: #1ABC9C;
	color: #EEE;
	text-decoration: none;
	border-bottom: solid 5px #16A085;
}
#posts p:nth-of-type(2) a:hover{
	background: #16A085;
}
#posts > p{
	clear: both;
}
/* Load More Adventures */
#posts > p a{
	position: absolute;
	bottom: 10rem;
	left: 9rem;	
	margin-left: 2rem;
	padding: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #EEE;
	border: solid 2px #EEE;
}

/* Footer */
footer{ 
	position: relative;
	background: #111;
	clear: both;
}
/* Sign Up Bar */
footer > p{
	text-align: center;
	margin: 0;
	padding: 2rem;
	border-top: solid 2rem #111; 
	background: #222;
}
#signup{
	padding: 1rem 4rem 1rem 1rem;
	font-weight: bold;
	color: #1ABC9C;
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: right;
	text-decoration: none;
}
/* Exclude the policies and social */
footer section:not(:last-of-type){
	position: relative;
	float: left;
	left: 10rem;
	width: calc((90%/3) - (6rem/3));
	margin: 5rem 0;
	box-sizing: border-box;
}
footer ol{
	list-style-type: none;
	padding: 0;
}
footer h4{
	padding-bottom: .5rem;
	width: 60%;
	border-bottom: solid 1px rgba(255,255,255,.1);
}
/* Date for Event */
#events h2{
	position: relative;
	float: left;
	top: 0;
	margin: 0;
	padding: .25rem;
	font-size: 2rem;
	max-width: 2rem;
	min-width: 2rem;
	max-height: 2rem;
	background: #EEE;
	color: #000;
	text-align: center;
}
/* Title */
#events h5{
	position: relative;
	float: left;
	top: 0rem;
	left: 1rem;
	margin: 0;
	padding: 0;
}
/* Description */
#events p{
	position: relative;
	float: left;
	top: 1rem;
	left: 1rem;
	width: 80%;
	margin: 0;
	padding: 0;
}
#events li{
	margin-top: 5rem; 
}
#events li::after{
	content: "";
	display: block;
	clear: both;
}
#hikers li{
	margin-bottom: 2rem;
	padding: 1rem 1rem 1rem 0;
}
#hikers li::after{
	content: "";
	display: block;
	clear: both;
}
#hikers img{
	display: inline;
	float: left;
	width: 5rem;
	height: 5rem;
	padding: .25rem;
	font-size: 2rem;
	color: #000;
	max-width: 3rem;
	max-height: 3rem;
	background: #EEE;
}
/* Name */
#hikers h5{
	position: relative;
	float: left;
	top: 0rem;
	left: 1rem;
	margin: 0;
	padding: 0;
}
#hikers p{
	position: relative;
	float: left;
	top: 1rem;
	left: 1rem;
	width: 80%;
	margin: 0;
	padding: 0;
}
#hikers li:first-of-type{
	margin-top: 4rem;
}
#hikers li{
	margin-bottom: 2rem;
	overflow: auto;
	clear: both;
}
#about h5{
	margin-top: 4rem;
	margin-bottom: .5rem;
}
#about p{
	margin: 0;
}

/* policies and social */
footer section:last-of-type{ 
	clear: both;
	width: 100%;
	height: 8rem;
	overflow: auto;
	background: #000;
}
footer section:not(:last-of-type) li{
	width: 300px;
}
footer section:last-of-type a{ 
	position: relative;
	text-decoration: none;
	color: #16A085;
}

/* Site Copyright and Social Media */
#copyright{
	opacity: .5;
}
#policies{ 
	margin-top: 3rem;
	float: left;
	text-transform: uppercase;
}
#policies li{
	margin-right: 2rem;
}
#policies li, .social li{
	display: inline-block;
}

/* Social Media Links */
.social{
	position: absolute;
	bottom: 1rem;
	right: 5rem;
}
.social a{
	display: block;
	top: 0;
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
	text-indent: -9999px;
	opacity: .5;
}
.social a:hover{
	opacity: 1;
}
.social a[href*="facebook"]{
	background: url("../images/facebook.png") no-repeat;
}
.social a[href*="twitter"]{
	background: url("../images/twitter.png") no-repeat;
}
.social a[href*="youtube"]{
	background: url("../images/youtube.png") no-repeat;
}
.social a[href*="google"]{
	background: url("../images/google.png") no-repeat;
}
.social a[href*="instagram"]{
	background: url("../images/instagram.png") no-repeat;
}

/* Destinations */
#destinations{
	position: relative;
	clear: both;
	padding-bottom: 2rem;
	background: #222;
	background-image: url("../images/climbers.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}
#destinations h2{
	position: relative;
	top: -15rem;
	width: 50%;
	margin: 0 auto 5rem auto;
	padding: .5rem;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
	text-align: center;
}
#destinations article{
	position: relative;
	top: -15rem;
	max-width: 900px;
	margin-bottom: 10rem;
	padding: 1rem;
	overflow: auto;
}
#destinations article img{
	float: left;
	width: 60%;
	padding: 1rem;
	background: #222;
}
#destinations article h3{
	position: relative;
	float: left;
	top: 9rem;
	left: 1rem;
	margin: 0;
	padding: 0;
}
#destinations article p{
	position: relative;
	float: left;
	top: 12rem;
	left: 1rem;
	margin: 0;
	padding: 0;
}
#destinations article p:last-of-type{
	position: relative;
	float: left;
	top: 18rem;
	left: -21rem;
	padding: 0;
	margin: 0;
}
/* Read More */
#destinations article p > a{
	padding: 1rem;
	background: #1ABC9C;
	color: #EEE;
	text-decoration: none;
	border-bottom: solid 5px #16A085;
}
#destinations article p > a:hover{
	background: #16A085;
}
#destinations section{
	position: relative;
	float: left;
	top: -15rem;
	width: calc(100% / 3 - (6rem / 3));
	box-sizing: border-box;
	margin-bottom: 3rem;
	padding: 2rem;
	background: #222;
}
#destinations section:not(:nth-of-type(3n)){
	margin-right: 3rem;
}
#destinations section img{
	width: 100%;
}
#destinations table{
	width: 100%;	
	padding: 1rem 2rem;
	background: #333;
}
#destinations caption{
	margin: 0;
	padding: 1rem 0;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: .4rem;
	background: #1ABC9C;
	border-bottom: solid 5px #16A085;
}
#destinations table img{
	max-width: 3rem;
	min-width: 3rem;
	max-height: 3rem;
	min-height: 3rem;
}
/* Location name*/
#destinations div h3{
	position: absolute;
	top: calc(50% - 10rem);
	left: calc(50% - 5rem);
}
#destinations td{
	padding: 1rem 1rem 1rem 0;
	font-size: 2rem;
	text-align: center;
}
/* Load more destinations */
#destinations > p a{
	position: relative;
	padding: 1rem;
	bottom: 10rem;
	left: 1rem;
	color: #EEE;
	text-decoration: none;
	text-transform: uppercase;
	border: solid 2px #eee;
}
#connect{
	position: relative;
	max-width: 400px;
	margin: 5rem auto 20rem;
	padding: 2rem;
	background: #222;
}
input[type=text],
input[type=email],
textarea{
	width: 100%;
	padding: 1rem;
	font-family: inherit;
	box-sizing: border-box;
}
textarea{
	max-width: 100%;
	min-width: 100%;
	max-height: 10rem;
	min-height: 10rem;
}
/* Connect and Subscription button */
input[type=submit] {
  	cursor: pointer;
  	display: inline-block;
  	margin-left: calc(50% - 4rem);
  	padding: 1rem 2rem;
 	border: 0;
  	border-bottom: solid 0.5rem #cc8500;
  	color: #fafafa;
  	font-weight: 900;
  	background: orange;
}
input[type=submit]:hover{
	background: #cc8500;
}
#connect p{
	margin-bottom: 2rem;
}
#connect h2{
	margin: 0 auto 4rem auto;
	padding: .5rem 2rem;
	max-width: 40%;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
}
label{
	display: none;
}
.error {
  position: relative;
  color: orange;
}
#eventposts{
	position: relative;
	clear: both;
	padding: 0 5rem 2rem 2rem;
	background: #222;
	background-image: url("../images/climbers.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}
/* Events */
#eventposts > h2{
	position: relative;
	top: -15rem;
	width: 50%;
	margin: 0 auto 5rem auto;
	padding: .5rem;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
	text-align: center;
}
#eventposts article{
	position: relative;
	top: -15rem;
	width: 60%;
	margin-bottom: 3rem;
	margin-right: 5rem;
	padding: 1rem 5rem;
	padding-bottom: 6rem;
}
#eventposts article::after{
	content: "";
	display: block;
	clear: both;
}
#eventposts article img{
	float: left;
	padding: 1rem;
	width: 50%;
	background: #222;
}
#eventposts article h3{
	position: relative;
	float: left;
	top: 6rem;
	left: 2rem;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
}
#eventposts article p:nth-of-type(2){
	position: relative;
	float: left;
	top: 6rem;
	left: 2rem;
	width: 40%;
	margin: 0;
	padding: 0;
}
#eventposts article p:last-of-type{
	position: relative;
	float: left;
	top: 10rem;
	left: 1rem;
}
/* Read More */
#eventposts article p:last-of-type a{
	padding: 1rem;
	background: #1ABC9C;
	color: #EEE;
	text-decoration: none;
	border-bottom: solid 5px #16A085;
}
#eventposts article p:last-of-type a:hover{
	background: #16A085;
}
/* Load More Events */
#eventposts > p{
	position: absolute;
	bottom: 10rem;
	left: 5rem;
	text-transform: uppercase;
}
#eventposts > p a{
	margin-left: 2rem;
	padding: 1rem;
	color: #EEE;
	text-decoration: none;
	border: solid 2px #EEE;
}
.eventdate{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 5rem;
	padding: 1rem;
	max-width: 2rem;
	min-width: 2rem;
	max-height: 2rem;
	color: #eee;
	font-size: 2rem;
	text-align: center;
	background: #000;
	opacity: .9;
}
/* Subscription Form */
aside{
	position: absolute;
	float: right;
	top: 4rem;
	right: 0;
	margin-right: 3rem;
	padding: 2rem;
	border-left: solid 1px rgba(255,255,255,.2);
}
aside h3{
	padding: 1rem;
	border-top: solid 1px rgba(255,255,255,.5);
	border-bottom: solid 1px rgba(255,255,255,.5);
}
aside form p{
	margin: 3rem 1rem;
}
aside form input[type=submit]{
	margin-left: calc(50% - 6rem);
}